{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% block content %}
{% load static %}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<section class="bg-home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="title-heading text-center text-black">
                            <h6 class="small-title text-uppercase text-black mb-3">Find jobs, create trackable resumes and enrich your applications.</h6>
                            <h1 class="heading font-weight-bold mb-4">The Easiest Way to Get Your New Job</h1>
                        </div>
                    </div>
                </div>
                <div class="home-form-position">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-registration-form bg-white job-list-grid-reg-form p-4 mb-3">
                                <form class="registration-form" action="{% url 'job-search' %}" method="get">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-search"></i>
                                                <input type="text" id="exampleInputName1" name="query" class="form-control rounded registration-input-box" placeholder="Search Here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" value="{{ search_query }}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Search">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- popular category start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    {% if categories %}
                        <h4 class="title title-line pb-5">Popular Category</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Some of the Popular Categories.</p>
                    {% else %}
                        <h4 class="title title-line pb-5">No Category Listed At The Moment</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for category in categories %}
                {% if category.available_jobs_count != 0 %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-4 pt-2 d-flex align-items-stretch">
                        <form action="{% url 'jobs-by-category' category.id %}" method="GET" class="w-100">
                            <button type="submit" class="w-100 border-0 bg-light rounded text-center p-4 h-100" style="cursor: pointer; min-height: 150px;">
                                <div class="popu-category-box h-100 d-flex flex-column justify-content-center">
                                    <div class="popu-category-icon mb-3">
                                        <i class="mdi mdi-account d-inline-block rounded-pill h3 text-primary"></i>
                                    </div>
                                    <div class="popu-category-content">
                                        <h5 class="mb-2 text-dark title">{{ category.name }}</h5>
                                        <p class="text-success mb-0 rounded">{{ category.available_jobs_count }}</p>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- popular category end -->

<!-- all jobs start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Recent Jobs</h4>
                    <p class="text-muted para-desc mx-auto mb-1">You can see most recent jobs posted here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="recent-job" role="tabpanel"
                        aria-labelledby="recent-job-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if jobs %}
                                {% for job in jobs %}
                                <div
                                    class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                    <div class="p-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="mo-mb-2">
                                                    <img src="{% static 'images/featured-job/img-1.png' %}" alt=""
                                                        class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <h5 class="f-18"><a href="#" class="text-dark">{{ job.title|truncatechars:40 }}</a></h5>
                                                    <p class="text-muted mb-0">{{ job.company.name }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-primary mr-2"></i>{{ job.city }}, {{ job.state }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-primary">NRs. </span>{{ job.salary|intcomma }} Annually
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0">{{ job.job_type|title }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Experience :</span> {{ job.get_experience_display|truncatechars:40 }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Education :</span> {{ job.edu_level|truncatechars:25 }} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <a href="{% url 'job-details' job.id %}" class="text-primary">View Details <i class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="container mt-5 d-flex justify-content-center">
                                    <a href="{% url 'job-list' %}" class="btn btn-primary">
                                        <i class="mdi mdi-view-headline text-danger mr-2"></i>
                                        View all jobs
                                    </a>
                                </div>
                                {% else %}
                                <h6 class="title title-line pb-5">No jobs available at the moment.</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}