{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title%}

{% block content %}


    <!-- CANDIDATES LISTING START -->
    <section class="section pt-0">
        <div class="container">        
            <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title title-line pb-1">All Applicants for {{ job.title }} Position.</h4>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-12 col-md-8">
                    <div class="candidates-listing-item">
                        {% for applicant in applicants %}
                            <div class="border mt-4 rounded p-3">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="float-left mr-4">
                                            <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
                                        </div>
                                        <div class="candidates-list-desc overflow-hidden job-single-meta pt-2">
                                            <h5 class="mb-2">
                                                    {{ applicant.user.resume.first_name }} 
                                                    {% if applicant.user.resume.middle_name %}{{ applicant.user.resume.middle_name }} {% endif %}
                                                    {{ applicant.user.resume.last_name }}
                                            </h5>
                                            <ul class="list-unstyled">
                                                <li class="text-muted"><i class="mdi mdi-av-timer mr-1"></i>Applied Date: {{ applicant.timestamp|date:"d-M-Y H:i" }}</li>
                                                <li class="text-muted">
                                                        <i class="mdi mdi-map-marker mr-1"></i>{{ applicant.user.resume.city }}, {{ applicant.user.resume.state }}.
                                                </li>
                                                <li class="text-muted"><i class="mdi mdi-book-open-page-variant mr-1"></i>{{ applicant.user.resume.degree_certification }}, {{ applicant.user.resume.university_college }}</li>
                                            </ul>
                                            <p class="text-muted mt-1 mb-0">Skills: {{ applicant.user.resume.skills|truncatechars:40 }} 
                                            </p>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                                        <div class="candidates-listing-btn">
                                            {% if applicant.user.resume.resume_file %}
                                                <a href="{{ applicant.user.resume.resume_file.url }}" class="btn btn-primary-outline btn-sm" target="_blank">Download Resume</a>
                                            {% else %}
                                                <span class="text-muted">No resume available</span>
                                            {% endif %}
                                        </div>
                                    </div>                                 
                                    
                                </div>
                            </div>
                        {% empty %}
                            <div class="border rounded p-3">
                                <p>No applicants for this job yet!</p>
                            </div>
                        {% endfor %}
                    </div>
                    
                        <div class="row">
                            <div class="col-lg-12 mt-4 pt-2">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination mb-0 justify-content-center d-flex">  <!-- Added d-flex class -->
                                        {% include "paginator.html" %}
                                    </ul>
                                </nav>
                            </div>
                        </div>

                
                </div>
            </div>
        </div>
    </section>
    <!-- CANDIDATES LISTING END -->
{% endblock content%}