{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title%}

{% block content %}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="rounded shadow bg-white p-4">
                    <div class="custom-form">
                        <div id="message3"></div>
                        {% if form.non_field_errors %}
                            <small class="text-danger mt-3">
                                {{ form.non_field_errors }}
                            </small>
                        {% endif %}
                        <form method="post" action="" name="contact-form" id="contact-form3">
                            {% csrf_token %}
                            <h4 class="text-dark mb-3">Update Job :</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Job Title</label>
                                        {% render_field form.title class="form-control resume" %}
                                        {% if form.title.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.title.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Job Type</label>
                                        {% render_field form.job_type class="form-control resume" %}
                                        {% if form.job_type.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.job_type.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Job Category (Select or Enter New)</label>
                                        {{ form.category|add_class:"form-control resume" }}  <!-- Dropdown for existing categories -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Or Enter a New Category (One Keyword Only)</label>
                                        <input type="text" id="newCategoryInput" name="category_name" class="form-control" placeholder="Enter new category"> <!-- Input for new category -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">City</label>
                                        {% render_field form.city class="form-control resume" %}
                                        {% if form.city.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.city.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">State</label>
                                        {% render_field form.state class="form-control resume" %}
                                        {% if form.state.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.state.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Salary (Annually)</label>
                                        {% render_field form.salary class="form-control resume" %}
                                        {% if form.salary.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.salary.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Work Type</label>
                                        {% render_field form.work_mode class="form-control resume" %}
                                        {% if form.work_mode.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.work_mode.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Education Level</label>
                                        {% render_field form.edu_level class="form-control resume" %}
                                        {% if form.edu_level.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.edu_level.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Year of Experience</label>
                                        {% render_field form.experience class="form-control resume" %}
                                        {% if form.experience.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.experience.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Company Contact Email Address</label>
                                        {% render_field form.email class="form-control resume" %}
                                        {% if form.email.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.email.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Phone Number</label>
                                        {% render_field form.contact class="form-control resume" %}
                                        {% if form.contact.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.contact.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Job Description</label>
                                        {% render_field form.description class="form-control resume" %}
                                        {% if form.description.errors %}
                                            <small class="text-danger mt-3">
                                                {{ form.description.errors }}
                                            </small>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group app-label">
                                    <label for="id_image" class="text-muted">Company Logo</label>
                                        
                                    {% if object.image %}
                                        <img src="{{ object.image.url }}" class="img-thumbnail" alt="Company Logo" width="150" height="150">
                                    {% endif %}
                                        
                                    {{ form.image|add_class:"form-control-file" }}
                                        
                                    {% if form.image.errors %}
                                        <small class="text-danger d-block mt-2">{{ form.image.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="custom-control m-0 custom-checkbox">
                                        {% render_field form.is_available type="checkbox" class="custom-control-input" id="customCheck1" %}
                                        <label class="custom-control-label" for="customCheck1">Is This Job Available?</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 mt-2">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
