
<div class="col-lg-3">
    <div class="left-sidebar">
        <div class="accordion" id="accordionExample">
            <!-- collapse one end -->
            <div class="card rounded mt-4">
                <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                    <div class="card-header" id="headingtwo">
                        <h6 class="mb-0 text-dark f-18">Categories</h6>
                    </div>
                </a>
                <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                    <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio7" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio7">Digital & Creative</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio8" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio8">Accountancy</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio9" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio9">Banking</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio10" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio10">IT Contractor</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio11" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio11">Graduate</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio12" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio12">Estate Agency</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- collapse one end -->
            <div class="card rounded mt-4">
                <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="true" aria-controls="collapsethree">
                    <div class="card-header" id="headingthree">
                        <h6 class="mb-0 text-dark f-18">Experince</h6>
                    </div>
                </a>
                <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                    <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio13" name="customRadio2" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio13">1Year to 2Year</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio14" name="customRadio2" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio14">2Year to 3Year</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio15" name="customRadio2" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio15">3Year to 4Year</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio16" name="customRadio2" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio16">IT Contractor</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- collapse one end -->
            <div class="card rounded mt-4">
                <a data-toggle="collapse" href="#collapsefour" class="job-list" aria-expanded="true" aria-controls="collapsefour">
                    <div class="card-header" id="headingfour">
                        <h6 class="mb-0 text-dark f-18">Gender</h6>
                    </div>
                </a>
                <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                    <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio17" name="customRadio3" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio17">Male</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio18" name="customRadio3" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio18">Female</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio19" name="customRadio3" class="custom-control-input">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customRadio19">Others</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- collapse one end -->
        </div>
    </div>
</div>